@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

.__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
}

.__subtitle {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 36px;
  color: #222222;
}

.__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.header__numbers {
  font-weight: 400;
  font-size: 9.6rem;
  line-height: 96px;
  color: #ffffff;
}

.header__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
